body {
    margin: 0;
    height: 100vh;
    background: linear-gradient(#050505, #202020);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    overflow: hidden;
    color: white;
}

.contenedor {
    text-align: center;
}

h1 {
    font-size: 35px;
    color: #ff2b6b;
}

.moto {
    font-size: 100px;
    animation: mover 3s infinite ease-in-out;
}

p {
    font-size: 22px;
}

@keyframes mover {
    0% {
        transform: translateX(-40px);
    }

    50% {
        transform: translateX(40px);
    }

    100% {
        transform: translateX(-40px);
    }
}

.corazon {
    position: absolute;
    color: red;
    font-size: 25px;
    animation: caer 5s linear infinite;
}

@keyframes caer {
    from {
        transform: translateY(-100px);
    }

    to {
        transform: translateY(800px);
    }
}
